#map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html{
  scroll-behavior: smooth;
}
body {
  background-image: url("./images/background.jpeg");
  background-repeat: no-repeat;
  color:white;
  /*background-size: cover;
  background-attachment: fixed;*/
  /* Fixed-position background image */
  &::before {
    content: ' ';
    position: fixed; /* instead of background-attachment */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: url('./images/background.jpeg') no-repeat center center;
    background-size: cover;
    will-change: transform; /* creates a new paint layer */
    z-index: -1;

}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 5rem 0 5rem 0;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-right: 15rem;
  gap: 10px;
}
.pricinglink {
  text-decoration: none;
}
.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.lead {
  font-size: 1.5rem;
}
@media (min-width: 1101px) and (max-width: 1600px) {
  #bluenails2 {
    height: 800px;
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 1rem 0 5rem 0;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
  }
  #bluenails2 {
    height: 700px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {

  .flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  #bluenails2 {
    height: 500px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}