#map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 5rem 0 5rem 0;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-right: 15rem;
  gap: 10px;
}
@media (min-width: 801px) and (max-width: 1100px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 5rem 0 5rem 0;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
  }
  #bluenails2 {
    height: 700px;
  }
}

@media (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  #bluenails2 {
    height: 500px;
    text-align: center;
  }
  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
